/*LA GALERIE*/
#gallery_clickable-artworks{
    display: flex;
    flex-wrap: wrap;
}
/*Les vignettes cliquables*/
.clickable-artwork{
    max-width : 25%;
}
.clickable-artwork img{
    max-width : 100%;
    height: auto;
}


/*LES POPUPS*/
.hide{
    visibility: hidden;
    display: none;
}

/*Le fond noir de la popup*/
.popup_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    padding: 0 5rem 0 5rem;
}

/*L'image et les infos*/
.popup_content_container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    box-sizing: content-box;
    max-height: 90vh;
    margin: auto;
}

/* La flèche pour passer à l'image précédente ou suivante*/
.popup_arrow {
    font-size: 3rem;
    color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

/*Les infos*/
.popup_info{
    /*background-color: rgb(166, 77, 255);*/
    color: white;
    max-width: 50%;
    min-width: 30%;
    height: 100%;
    max-height: 90vh;
    padding-left: 3rem;
    align-items: center;
}

/*L'image*/
.popup_image_container {
    /*background-color: orange;*/
    position : relative;
    box-sizing: content-box;
    /*height: 100%;*/
    max-height: 90vh;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;

}
.popup_image{
    position : relative;
    max-height: 90vh;
    max-width: 100%;
    object-fit: contain;
    top: 0;
    right: 0;
}

/* Bouton pour fermer la popup*/
.popup_close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}