/*I - GLOBAL*/
/*section intro*/
#introduction{
    background-color: rgb(88, 112, 112);
    color: #ebe4c5;
    margin-top: -2px;

}
#introduction p{

    text-align: center;
}

/*section galeries*/
#artworks{
    background-color: rgb(88, 112, 112);
    color: #ebe4c5;
    display:flex; 
    flex-direction: column;
    max-width:100%;
}

#gallery-links{
    display:grid;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100%;
}
.gallery-link_container{
    position: relative;
    background-color: #fff8da;
}

.box {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url('https://picsum.photos/300');
}

.background-tint {
  background-color: rgba(200,100,0,.5);
  background-blend-mode: multiply;
}
.gallery-link_img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.gallery-link_text{
    background-color: #ebe4c5b7;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    color: black;
    text-decoration: none;
}
.gallery-link_title{
    text-align: center;
}

/*II - MEDIA QUERIES*/

/*1 - MOBILES VERTICAUX*/
@media only screen and (max-width: 430px) {

    /*section intro*/
    #introduction p{
        font-size: 1.1em;
    }
    /*section galeries*/
    #gallery-links{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 20vh;
    }
    .gallery-link_text{
        height: 30%;
    }
    .gallery-link_title{
        font-size: 1.1em;
        line-height: 0.5em;
    }
    /*Changer l'image selon device : sur mobile vertical : image horizontale*/
    .square{
        display: none;
    }
    .vertical{
        display: none;
    }
    
}

/*2 - MOBILES HORIZONTAUX*/
@media only screen and (max-height : 430px){
    /*section intro*/
    #introduction p{
        font-size: 1.1em;
    }
    /*section galeries*/
    #gallery-links{
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery-link_text{
        height: 30%;
    }
    .gallery-link_title{
        font-size: 1em;
        line-height: 1em;
    }

    /*Changer l'image selon device : sur mobile vertical : image carrées*/
    .horizontal{
        display: none;
    }
    .vertical{
        display: none;
    }
}

/*3 - TABLETTES VERTICALES*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 999px) {
    /*section intro*/
    #introduction p{
        font-size: 1.2em;
    }
    /*section galeries*/
    #gallery-links{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px;
        grid-auto-columns: 350px;
    }

    /*Changer l'image selon device : sur mobile vertical : image carrées*/
    .horizontal{
        display: none;
    }
    .vertical{
        display: none;
    }
}

/*4 - TABLETTES HORIZONTALES - IPAD PRO - LAPTOPS - DESKTOPS*/
@media only screen and (min-width : 1024px) {
    /*section intro*/
    #introduction p{
        font-size: 1.5em;
    }
    /*section galeries*/
    #gallery-links{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 100%;
    }
    .gallery-link_container{
        max-height: 80vh;
        overflow: hidden;
    }
    /*Styles au survol : */
    /* 1 - Zoomer l'image */
    .gallery-link_container .gallery-link_img{ 
        transform: scale(1);
        transition : transform 0.3s ease-in-out;
    }
    .gallery-link_container:hover .gallery-link_img{ 
        transform: scale(1.05);
        transition : transform 0.3s ease-in-out;
    }
    /* 2 - faire apparaître le texte */
    .gallery-link_text{
        /*La couleur*/
        background: linear-gradient(to right, #ebe4c5b7 50%, rgba(0, 0, 0, 0));
        background-size: 200% 100%;
        background-position: right bottom;
        color: black;
        /*Le texte n'est pas visible quand la souris n'est pas sur l'image*/
        opacity: 0;
        transition: opacity 0.3s ease-in-out, background-position 0.3s ease-in-out;
    }
    .gallery-link_container:hover .gallery-link_text{ 
        opacity : 1;
        /*La couleur d'arrière plan apparaît de gauche à droite*/
        background-position: left bottom;
        transition : opacity 0.3s ease-in-out background-position 0.3s ease-in-out;
    }
    /*Changer l'image selon device : sur mobile vertical : image carrées*/
    .horizontal{
        display: none;
    }
    .square{
        display: none;
    }

}


/*Enlever la description sauf sur grands écran*/
@media only screen and (max-width : 1024px) {
    .gallery-link_description{
        display: none;
    }
}