/*I - GLOBAL*/
body, html {
    /* Éviter que le scroll horizontal sur le burger-menu*/
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcfce7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    /* Étendre sur tout l'espace entre header et footer */
    margin: 0 auto;
    flex: 1; 
}
/*Cacher des éléments*/
.hide{
    visibility: hidden;
    display: none!important;
}
/*Empêcher le scroll du body lorsuq'une popup est ouverte*/
.no-scroll{
    position: fixed;
    overflow: hidden;
}
section{
    padding: 3% 0;
}

/*II - MEDIA QUERIES*/

/*1 - MOBILES VERTICAUX*/
@media only screen and (max-width: 430px) {
    /*Repères temporaires*/
    /*
    body{
        background-color: blueviolet;
    }
    header, footer, #home-onscroll-header{
        background-color: purple;
    }
    main{
        background-color: violet;
    }
    /*Repères temporaires - fin*/

    main{
        width: 94%;
    }
    header, footer{
        padding:0 3%;
    }
}

/*2 - MOBILES HORIZONTAUX*/
@media only screen and (max-height : 430px){
    /*Repères temporaires*/
    /*
    body{
        background-color: darkcyan;
    }
    
    header, footer, #home-onscroll-header{
        background-color: cyan;
    }
        
    main{
        background-color: turquoise;
    }
    /*Repères temporaires - fin*/

    main{
        width: 80%;
    }

    header, footer{
        padding:0 10%;
    }
}

/*3 - TABLETTES VERTICALES*/

/*Marges*/
/*Petites tablettes - type iPad Mini*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 770px) {
    main{
        width: 90%;
    }
    header, footer{
        padding:0 5%;
    }
}
/*Autres tablettes*/
@media only screen and (min-height: 431px) and (min-width: 771px) and (max-width : 999px) {
    main{
        width: 80%;
    }
    header, footer{
        padding:0 10%;
    }
}

/*Toutes tablettes, orientation portrait*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 999px) {
    /*Repères temporaires*/
    /*
    body{
        background-color: green;
    }
    header, footer{
        background-color: yellowgreen;
    }
    main{
        background-color: lightgreen;
    }
    /*Repères temporaires - fin*/
}

/*4 - TABLETTES HORIZONTALES - LAPTOPS - DESKTOPS*/
@media only screen and (min-width : 1000px) {
        /*Repères temporaires*/
        /*
        body{
            background-color: orangered;
        }
        header, #home-onscroll-header, footer{
            background-color: orange;
        }
        main{
            background-color: yellow;
        }
        /*Repères temporaires - fin*/

        main{
            width: 70%;
        }
        header, footer{
            padding:0 15%;
        }
}

/*ÉCRANS PLIABLES - pli vertical*/
/*
@media (horizontal-viewport-segments: 2) and (vertical-viewport-segments: 1) {
    body{
        background-color: greenyellow;
    }
}
*/
/*ÉCRANS PLIABLES - pli horizontal*/
/*
@media (vertical-viewport-segments: 2)and (horizontal-viewport-segments: 1) {
    body{
        background-color: yellow;
    }
}
*/