/*
body{
    background-color: rgb(230, 223, 215);
}
*/
/*I - GLOBAL*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    height: 100%;
    margin: 0 auto;
}

/*II - MEDIA QUERIES*/

/*1 - MOBILES VERTICAUX*/
@media only screen and (max-width: 430px) {
    /*Repères temporaires*/
    body{
        background-color: blueviolet;
    }
    header, footer{
        background-color: purple;
    }
    main{
        background-color: violet;
    }
    /*Repères temporaires - fin*/

    main{
        width: 100%;
    }
}

/*2 - MOBILES HORIZONTAUX*/
@media only screen and (max-height : 430px){
    /*Repères temporaires*/
    body{
        background-color: darkcyan;
    }
    
    header, footer{
        background-color: cyan;
    }
        
    main{
        background-color: turquoise;
    }
    /*Repères temporaires - fin*/

    main{
        width: 80%;
    }
    footer{
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 100%;
    }
}

/*3 - TABLETTES VERTICALES*/

/*Marges*/
/*Petites tablettes - type iPad Mini*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 770px) {
    /*Repères temporaires*/
    main{
        width: 90%;
    }
}
/*Autres tablettes*/
@media only screen and (min-height: 431px) and (min-width: 771px) and (max-width : 999px) {
    main{
        width: 80%;
    }
}

/*Toutes tablettes, orientation portrait*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 999px) {
    /*Repères temporaires*/
    body{
        background-color: green;
    }
    header, footer{
        background-color: yellowgreen;
    }
    main{
        background-color: lightgreen;
    }
    /*Repères temporaires - fin*/

    header, footer{
        padding:0 10%;
    }
}

/*4 - TABLETTES HORIZONTALES - LAPTOPS - DESKTOPS*/
@media only screen and (min-width : 1000px) {
        /*Repères temporaires*/
        body{
            background-color: orangered;
        }
        header, footer{
            background-color: orange;
        }
        main{
            background-color: yellow;
        }
        /*Repères temporaires - fin*/

        header, footer{
            padding:0 12%;
        }
        main{
            width: 75%;
        }
}

/*ÉCRANS PLIABLES - pli vertical*/
/*
@media (horizontal-viewport-segments: 2) and (vertical-viewport-segments: 1) {
    body{
        background-color: greenyellow;
    }
}
*/
/*ÉCRANS PLIABLES - pli horizontal*/
/*
@media (vertical-viewport-segments: 2)and (horizontal-viewport-segments: 1) {
    body{
        background-color: yellow;
    }
}
*/