/*I - GLOBAL*/
header{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    z-index: 2;
}
#above-menu-zone{
    height: 15vh;
}
/* Pour la page d'accueil : un header plus spectaculaire */
#above-menu-zone.front-page{
    height: 80vh;
}
#menu-zone{
    display:flex;
    align-items: center;
}
#menu-zone.onscroll{
    position:fixed;
    top:0;
    right:0;
    left:0;
    background-color: #fcfce7;;
}
#menu-zone.onscroll #title-menu_container{
    align-items: center;
}
/*TEST - S'ASSURER QUE LE TITRE REVIENNE À SA PLACE LORSQUE LE MENU EST FIXÉ, MÊME SI LE NAVIGATEUR N'A PAS EU LE TEMPS DE DÉTECTER LA CONDITION DANS LE SCRIPT*/

#menu-zone.onscroll #site-title{
    transform: translate(0)!important;
    transition: all 0.4s ease-in-out;    
}


/*versions mobile : à l'ouverture du menu, repositionner le titre*/
#menu-zone #site-title.on-top-of-drawer-menu , #menu-zone.onscroll #site-title.on-top-of-drawer-menu{
    position: fixed;
    color: #fcfce7;
    z-index: 5;
    font-size: 3rem;
    transition: all 0.4s ease-in-out;
    /*Pour le header de la page d'accueil : remettre le titre à sa place initiale*/
    transform: translate(0)!important;
    /*Provisoire*/
    top:50px;
}
#title-menu_container{
    width: 100%;
    display:flex;
    border-bottom:1px solid black;
}

#site-title{
    font-weight:bold;
    color:black;
    text-decoration:none;
    transition: font-size 0.4s ease-in-out;
}
#site-title.reduced {
    transition: font-size 0.4s ease-in-out;
}
/* Pour le header de la page d'accueil : ralentir la translation du titre*/
#site-title.soft-translate {
    transition: all 0.5s ease-in-out;
}
/*II - MEDIA QUERIES*/

/*LES MARGES*/
/*MARGES*/
/*1 - MOBILES VERTICAUX*/
@media only screen and (max-width : 430px){
    #menu-zone.onscroll{
        padding: 0 3%;
    }
}
/*2 - MOBILES HORIZONTAUX*/
@media only screen and (max-height : 430px){
    #menu-zone.onscroll{
        padding: 0 10%;
    }
}
/*3 - TABLETTES VERTICALES*/
/*Petites tablettes - type iPad Mini*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 770px) {
    #menu-zone.onscroll{
        padding:0 5%;
    }
}
/*Autres tablettes*/
@media only screen and (min-height: 431px) and (min-width: 771px) and (max-width : 999px) {
    #menu-zone.onscroll{
        padding:0 10%;
    }
}
/*4 - TABLETTES HORIZONTALES - LAPTOPS - DESKTOPS*/
@media only screen and (min-width : 1000px) {
    #menu-zone.onscroll{
        padding: 0 15%;
    }
}

/*LE POSITIONNEMENT*/
/*1 - Versions mobiles : avec le menu caché et le burger-menu : le titre est centré*/
@media only screen and (max-width : 660px) {
    #title-menu_container{
        height: 50px;
        justify-content: center;
    }
}
/*2 - Tablettes et desktop : avec le menu ouvert : titre à gauche, menu à droite*/
@media only screen and (min-width : 661px) {
    #title-menu_container{
        justify-content: space-between;
    }
}

/*TITRE et ONGLETS DE MENU: adapter les tailles à la place disponible*/
@media only screen and (max-width : 430px) {
    #site-title{
        font-size:2.5rem;
    }
    #site-title.reduced{
        font-size:1.6rem;
    }
}
@media only screen and (min-width : 431px) and (max-width : 660px) {
    #site-title{
        font-size:3rem;
    }
    #site-title.reduced{
        font-size:1.6rem;
    }
}
@media only screen and (min-width : 661px) and (max-width : 1024px) {
    #site-title{
        font-size:3rem;
    }
    #site-title.reduced{
        font-size:1.7rem;
    }
}
@media only screen and (min-width : 1024px) {
    #site-title{
        font-size:4rem;
    }
    #site-title.reduced{
        font-size:2rem;
    }
}