/*I - GLOBAL*/
header{
    /*position: fixed;*/
    z-index: 1;
    margin:0;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    vertical-align: bottom;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

/*Le logo*/
#site-title{
    font-family: 'Abril Fatface';
    text-decoration: none;
    color: black;
}

/*II - MEDIA QUERIES*/
/*1 - TOUS DEVICES EN DESSOUS DE 1000 PX*/
@media only screen and (max-width: 1023px) {
    /* Quand le drawer menu est ouvert*/
    header.on-top-of-drawer-menu{
        background-color: black!important;
        transition: all 0.5s ease-in-out;
    }
    #site-title.on-top-of-drawer-menu{
        color: white!important;
        transition: all 0.5s ease-in-out;
    }
}
/*2 - MOBILES VERTICAUX*/
@media only screen and (max-width : 430px){
    /*Le titre-logo*/
    #site-title{
        font-size: 2em;
    }
}
/*3 - MOBILES HORIZONTAUX*/
@media only screen and (max-height : 430px){
    /*Le titre-logo*/
    #site-title{
        font-size: 2em;
    }
}

/*4 - TABLETTES VERTICALES*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 1023px) {
    /*Le titre-logo*/
    #site-title{
        font-size: 4em;
    }
}

/*5 - TABLETTES HORIZONTALES - LAPTOPS - DESKTOPS*/
@media only screen and (min-width : 1024px) {
    /*Le titre-logo*/
    #site-title{
        font-size: 5em;
    }
}
