/*0 - GLOBAL*/


/*1 - MOBILES VERTICAUX*/
@media only screen and (max-width: 430px) {
    /*
    .menu-menu-principal-container{
        display: none;
        visibility: hidden;
    }
    */
    .menu-menu-principal-container{
        background-color: black;
        position : fixed;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
    }
}

/*2 - MOBILES HORIZONTAUX*/
@media only screen and (max-height : 430px){
    .menu-menu-principal-container{
        display: none;
        visibility: hidden;
    }
}

/*3 - TABLETTES VERTICALES*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 999px) {
    .menu-menu-principal-container{
        display: none;
        visibility: hidden;
    }
}

/*4 - TABLETTES HORIZONTALES - LAPTOPS - DESKTOPS*/
@media only screen and (min-width : 1000px) {

    #menu{
        width: 100%;
    }
    .menu-menu-principal-container{
        width: 100%;
    }
    #menu-menu-principal{
        display: flex;
        justify-content: end;
        width: 100%;
    }
    .menu-item{
        text-decoration: none;
        color: black;
        list-style-type: none;
        margin: 0 2%;
    }
    .menu-item a{
        text-decoration: none;
        color: black;
    }

    #header-container svg{
        display: none;
        visibility: hidden;
    }
}
