/*I - GLOBAL*/
/*Le drawer-menu*/
#menu_toggle-btn{
    position:fixed;
    top:10px;
    right:10px;
    z-index: 2;
}
/*Les barres de l'icone de menu*/
.bar{
    display: block;
    width: 25px;
    height: 10px;
}
/*Les idems de menu*/
.menu-item{
    list-style-type: none;
    margin-left: 1rem;
}
.menu-item a{
    text-decoration: none;
}
/*Le sous-menu*/
.menu-item .sub-menu{
    display: none;
}
.menu-item:hover .sub-menu, .sub-menu:hover{
    position: absolute;
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    background-color: black;
    height: 70px;
}
.menu-item:hover .sub-menu .menu-item a{
    color: white!important;
}
/*II - MEDIA QUERIES*/
/*1 - TOUS DEVICES EN DESSOUS DE 1000 PX*/
@media only screen and (max-width: 1023px) {
    /*Le drawer menu*/
    .menu-menu-principal-container {
        background-color: black;
        /* Empêcher le scroll sur le menu */
        position: fixed; 
        /* laisser de la place au header */
        height: calc(100vh - 2.5rem);
        width: 100vw;
        top: 2.5rem;
        left: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .menu-menu-principal-container.active{
        transform: translateX(0);
    }

    #menu_toggle-btn .bar{
        border-top: 2px solid black;
        transition: all 0.5s ease-in-out;
    }
    #menu_toggle-btn.active .bar{
        border-top: 2px solid white;
    }
    .menu-item a{
        color: white;
    }
    
}
/*2 - MOBILES VERTICAUX*/
@media only screen and (max-width : 430px){
    #menu-menu-principal{
        padding:0 3%;
    }
}
/*3 - MOBILES HORIZONTAUX*/
@media only screen and (max-height : 430px){
    #menu-menu-principal{
        padding:0 3%;
    }
}

/*4 - TABLETTES VERTICALES*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 1023px) {
}

/*5 - TABLETTES HORIZONTALES - LAPTOPS - DESKTOPS*/
@media only screen and (min-width : 1024px) {
    /*Le menu burger : invisible sur desktop*/
    #menu_toggle-btn{
        visibility: hidden;
        display: none;
    }
    .menu-menu-principal-container{
        align-self: end;
    }
    #menu-menu-principal{
        display: flex;
        justify-content: end;
    }
    #menu-menu-principal .menu-item a{
        color: black;
    }
}
