/* I - GLOBAL*/

/* II - MEDIA QUERIES*/

/*1 - MOBILES VERTICAUX*/
@media only screen and (max-width: 430px) {
}

/*2 - MOBILES HORIZONTAUX*/
@media only screen and (max-height : 430px){
}

/*3 - TABLETTES VERTICALES*/

/*Petites tablettes - type iPad Mini*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 770px) {
}
/*Autres tablettes*/
@media only screen and (min-height: 431px) and (min-width: 771px) and (max-width : 999px) {
}

/*Toutes tablettes, orientation portrait*/
@media only screen and (min-height: 431px) and (min-width: 431px) and (max-width : 999px) {
}

/*4 - TABLETTES HORIZONTALES - LAPTOPS - DESKTOPS*/
@media only screen and (min-width : 1000px) {
    #post-head_container{
        display: flex;
        justify-content: end;
        align-items: center;
        background-size: cover; 
        height:55vh;
        overflow: hidden;
    }

    #title-excerpt-date_container{
        padding: 2rem;
        background-color: rgba(245, 245, 220, 0.6);
        height: fit-content;
        max-width: 33%;
    }
    #title{
        font-size: 2.5em;
    }

    #excerpt{
        font-size: 1.4em;
        line-height: 2.6rem;
    }

    #date{
        font-size: 1.2em;
        font-style: italic;
        margin-top: 2rem;
    }

    #content p{
        line-height: 2.5rem;
        font-size: 1.2em;
    }
}