/*I - GLOBAL*/

/* Remplacer column-count par grid pour un meilleur contrôle */
#gallery_clickable-artworks {
    display: grid;
    gap: 1rem;
}
#gallery_artworks-popups{
    padding: 0!important;
    margin: 0!important;
}
/*Positionner les vignettes par rapport à l'overlay*/
.clickable-artwork{
    position: relative;
    overflow: hidden;
}
.clickable-artwork:hover{
    transform: scale(1.05);
    transition : transform 0.3s ease-in-out;
}

.clickable-artwork img {
    width: 100%;
    height: 100%;
    /*border-radius: 10px;*/
    object-fit:contain; /* Assure que les images remplissent l'espace sans se déformer */
    /*aspect-ratio: 1 / 1;*/ /* Maintient un format carré pour toutes les images */
}

/*L'overlay sur les vignettes*/
.artwork_overlay {
    position: absolute;
    top: 17%;
    height: 15%;
    width: 100%;
    /*Apparaîtra au hover sur le conteneur*/
    transition: .5s ease;
    /*Disposer le texte*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.artwork_overlay p{
    color: #ffffff;
    text-align: center;
}

/*Dans l'overlay : le titre*/
.artwork_year{
    font-size: 1.2em;
}

/*II - MEDIA QUERIES*/

/*1 - MOBILES VERTICAUX*/
@media only screen and (max-width: 430px) {
    /* Mobile : 3 vignettes par ligne */
    #gallery_clickable-artworks{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*2 - MOBILES HORIZONTAUX*/
@media only screen and (max-height : 430px){
    /* Mobile horizontal : 3 vignettes par ligne */
    #gallery_clickable-artworks{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*3 - TABLETTES ET DESKTOP */
@media only screen and (min-width: 768px) {
    #gallery_clickable-artworks{
        /* Tablette : 3 vignettes par ligne */
        grid-template-columns: repeat(3, 1fr);
    }
}
/*4 - TABLETTES HORIZONTALES - LAPTOPS - DESKTOPS*/
@media only screen and (min-width : 1000px) {

    /*Faire apparaître l'overlay au survol*/
    .clickable-artwork:hover .artwork_overlay {
        opacity: 1;
    }
    /*Indiquer que les vignettes sont cliquables*/
    .clickable-artwork:hover{
        cursor: pointer;
    }
    /* Desktop : 4 vignettes par ligne */
    #gallery_clickable-artworks{
        grid-template-columns: repeat(4, 1fr);
    }
}